// Here you can add other styles
.delay-input {
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: unset !important;
  &:focus {
    border: 1px solid #ccc !important;
    outline: unset !important;
  }
}
.c-sidebar-nav-item,
.c-sidebar-nav-dropdown {
  svg {
    margin-right: 20px;
    width: 15px !important;
  }
}
.span-action {
  background-color: #303c54;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  svg {
    color: #fff;
  }
}
.card-body {
  position: relative;
}
.warper-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  background: #ffffffab;
  top: 0;
  left: 0;
  display: table;
  .loading {
    text-align: center;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}
.filter-modal {
  label {
    font-size: 12px;
  }
  .modal-dialog {
    max-width: 800px !important;
  }
}
.img-preview {
  overflow: hidden;
  padding: 10px;
  max-width: 250px;
  margin: auto;
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}
.require {
  color: red;
}
.image-table {
  overflow: hidden;
  padding: 10px;
  width: 75px;
  img {
    width: 100%;
  }
}
.filter-input {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  .filter-input-item {
    &-9 {
      flex-grow: 9;
    }
    &-1 {
      flex-grow: 1;
    }
  }
}
.pdl10 {
  padding-left: 10px;
}
.list-action {
  & > a,
  & > button {
    margin-left: 10px;
    float: right;
    height: 40px;
  }
  &::after {
    content: "";
    clear: both;
  }
}
.module-list {
  header {
    width: 100%;
    > div {
      width: 100%;
      border-bottom: 1px solid #d8dbe0;
    }
  }
}
.filter-collapse {
  width: 100%;
}
.check-all {
  .custom-control-label::before {
    // top: 7px;
    // left: -20px !important;
  }
}
.modal-body {
  .module-list {
    header {
      display: none;
    }
  }
  .card {
    max-height: 650px;
    overflow: auto;
  }
}
.title-role-permission {
  cursor: pointer;
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}
.container-preview-pdf .ant-modal {
  top: 20px;
}

.container-preview-pdf .ant-modal-body {
  padding: 0px;
}
.container-preview-pdf .modal-dialog {
  max-width: 60%;
  iframe {
    width: 100%;
    height: 100%;
  }
  #iframeContainer {
    height: 100%;
  }
}
.container-spin-pdf {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: table;
  width: 100%;
  height: 100%;
}

.container-spin-pdf .icon-spin-pdf {
  font-size: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.image-preview {
  max-width: 80px;
  padding: 10px;
  overflow: hidden;
  border-radius: 6px;
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}
.label-form-group {
  font-weight: 700;
  padding: 5px 0;
}
.cursor {
  cursor: pointer;
}
.pd {
  &l0 {
    padding-left: 0;
  }
  &r0 {
    padding-right: 0;
  }
  &t0 {
    padding-top: 0;
  }
  &b0 {
    padding-bottom: 0;
  }
}
.mg {
  &l0 {
    margin-left: 0;
  }
  &r0 {
    margin-right: 0;
  }
  &t0 {
    margin-top: 0;
  }
  &b0 {
    margin-bottom: 0;
  }
  &l10 {
    margin-left: 10px;
  }
  &r10 {
    margin-right: 10px;
  }
  &t10 {
    margin-top: 10px;
  }
  &b10 {
    margin-bottom: 10px;
  }
}
.relative {
  position: relative;
}
.card-close {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 100%;
  border: 1px solid #321fdb;
  z-index: 100;
  padding: 0;
  text-align: center;
  background: #321fdb;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
  .icon-close {
    color: #fff;
    svg {
      margin-bottom: 2px;
    }
  }
}
.modal-content {
  position: relative;
}
.modal-body {
  position: unset;
  overflow: auto;
}
